{% extends 'layout.html.twig' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2>About EPBOutage/h2>
            <p>
                This site was created out of a need for a better way to see outages listed on 
                <a target="_blank" href="https://epb.com/outage-map">Electric Power Board's (EPB)</a>. 
                However, we are not affilated with EPB, and this is soley an independent site.
                EPB's current site uses Google Maps to show outages in areas, but there is no way to interact with the map to be much use. 
                Functionality was sparse at best. However, EPB provides an API feed that gives us all the data we need to provide a enhanced solution.
                Taking this data and creating a site around it instead of just dropping the locations into a static,
                Google Map seemed to be the right course of action. This site provides all the tools needed to peruse the data.
                <br>
                Enjoy!
            </p>
        </div>
    </div>
    {#<div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <h3>Contact us</h3>
            {% for flashMessage in app.session.flashbag.get('email_success') %}
                <div class="alert alert-success">{{ flashMessage|raw }}</div>
            {% endfor %}
            <div>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.message) }}
                <div>
                    {{ form_errors(form.recaptcha) }}  
                    {{ form_widget(form.recaptcha) }}  
                </div>
                <br>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>#}
    <div>
        Find us on Github!
        <br>
        <a target="_blank" href="https://github.com/Curtisdhi/EPBOutage">
            <i class="fa fa-3x fa-github-square connect-icon"></i>
        </a>
    </div>
    <div class="clearfix"></div>

{% endblock %}