{% extends '::layout.html.twig' %}
{% block primary_javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}"></script>
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <script>        
        $(document).ready(function () {
            var map = $('#map');
            var metricsTableElement = $('#metrics-accordion');
            outageMap = new OutageMap(map, metricsTableElement, map.data('zoom'), map.data('center-location'));
            outageMap.load();
            outageMap.loadOutageData();
                
            var mySlider = $("input[name='outage-picker']");
            var latestOutages = mySlider.data('latest-outages');
            
            var ticks = [];
            var ticksLabels = [];
            
            var tick = 0;
            _.each(latestOutages, function(v) {
                ticks.push(++tick);
                var m = new Date(v.updatedOn.sec*1000); 
                var dateStr = m.getUTCFullYear() + "/" +
                    ("0" + (m.getUTCMonth()+1)).slice(-2) + "/" +
                    ("0" + m.getUTCDate()).slice(-2) + " " +
                    ("0" + m.getUTCHours()).slice(-2) + ":" +
                    ("0" + m.getUTCMinutes()).slice(-2);
                ticksLabels.push(dateStr);
            });
            
            mySlider.slider({
                min: 1,
                max: ticks.length,
                step: 1,
                value: ticks.length,
                ticks: ticks,
                ticks_labels: ticksLabels,
                ticks_tooltip: true
            }).change(function() {
                var id = getIdFromOutagesByIndex(parseInt($(this).val()));
                if (id) {
                    outageMap.loadOutageData(id);
                }
            });
            
            function getIdFromOutagesByIndex(index) {
                var i = 1;
                var o = null;
                _.each(latestOutages, function(v) {
                    if (i === index) {
                        o = v;
                        return false;
                    }
                    i++;
                });
                return o ? o._id.$id : null;
            }
            

        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div>
            <input type="text" name="outage-picker" data-latest-outages="{{ latestOutages|json_encode() }}">
            </div>
            <div id="map" data-zoom="{{ google_map.zoom }}" data-center-location="{{ google_map.center_location|json_encode() }}"></div>
        </div>
        <div class="col-md-2">
            <h3>Metrics</h3>
            <div id="metrics-accordion" role="tablist" aria-multiselectable="true">
                <div class="card metric-template hide">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a class="metric-title" data-toggle="collapse" data-parent="#metrics-accordion"></a>
                        </h5>
                    </div>

                  <div class="collapse metric-body" role="tabpanel">
                      <div class="card-block">
                          <table class="table table-striped">
                              <tbody></tbody>
                          </table>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}