{% extends '::layout.html.twig' %}
{% block primary_javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}"></script>
    {{ parent() }}
{% endblock %}

{% block javascript %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div>
            <input type="text" name="outage-picker" data-latest-outages="{{ latestOutages|json_encode() }}">
            </div>
            <div id="map" data-zoom="{{ google_map.zoom }}" data-center-location="{{ google_map.center_location|json_encode() }}"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Major outages: <smll class="text-muted">All outages with 1,000 affected customers.</small></label> &nbsp;
                        <select class="form-control" name="majorOutage">
                            <option disabled="disabled" selected="selected">Select an outage to display</option>
                            {% for m in majorOutages %}
                                <option value="{{ m._id }}">{{ m.updatedOn.sec|date('M d, Y') }} ({{ m.metrics.currentOutages }} outages)</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h3>Metrics</h3>
            <div id="metrics-accordion" role="tablist" aria-multiselectable="true">
                <div class="card metric-template hide">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a class="metric-title" data-toggle="collapse" data-parent="#metrics-accordion"></a>
                        </h5>
                    </div>

                  <div class="collapse metric-body" role="tabpanel">
                      <div class="card-block">
                          <table class="table table-striped">
                              <tbody></tbody>
                          </table>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}