<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="author" content="{{ application_name }}">
<title>{% block title %}{{ site_name }} | Power outage Alert {% endblock %}</title>
<style>
    th, td {
        text-align: left;
    }
</style>
</head>
<body bgcolor="#ABABAB" color="#FFFFFF">
 
    <h2>Power outage reported</h2>
    
    
    <a href="{{ url('main_index', {'id' : outage.id}) }}">Click here for more details and map.</a>
    <br/>
    <h3>Summary</h3>
    <table>
        <tr>
            <th>Reported Date:</th>
            <td>{{ outage.createdOnFormatted }}</td>
        </tr>
        <tr>
            <th>Customers Affected:</th>
            <td>{{ outage.metrics.customersAffected|number_format }}
        </tr>
    </table>
        
    <a href="{{ url('alert_unsubscribe', {'id' : alertUser.id}) }}">Unsubscribe</a>
</body>
</html>